<section class="article">
  <div class="container">
    <h2 class="article__title">Статьи</h2>
    <p class="article__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quas corrupti eaque eveniet
      officia? Doloribus nihil, velit modi molestias hic dolorum exercitationem facere, corrupti
      pariatur cum itaque quisquam. Similique, dolores?
    </p>
    <div class="article__inner">
      <div class="article__item">
        <a class="article__link" href="#">
          <img
            class="article__img"
            src="../images/content/9749.webp"
            alt="Белаз"
            width="350"
            height="226"
          />
          <h3 class="article__subtitle">
            Почему Белазы являются популярным выбором в горнодобывающей и строительной отраслях
          </h3>
        </a>
        <span class="article__num">01</span>
      </div>
      <div class="article__item">
        <a class="article__link" href="#">
          <img
            class="article__img"
            src="../images/content/product/1.webp"
            alt="Белаз"
            width="350"
            height="226"
          />
          <h3 class="article__subtitle">
            Почему Белазы являются популярным выбором в горнодобывающей и строительной отраслях
          </h3>
        </a>
        <span class="article__num">02</span>
      </div>
      <div class="article__item">
        <a class="article__link" href="#">
          <img
            class="article__img"
            src="../images/content/9749.webp"
            alt="Белаз"
            width="350"
            height="226"
          />
          <h3 class="article__subtitle">
            Почему Белазы являются популярным выбором в горнодобывающей и строительной отраслях
          </h3>
        </a>
        <span class="article__num">03</span>
      </div>
      <div class="article__item">
        <a class="article__link" href="#">
          <img
            class="article__img"
            src="../images/content/product/1.webp"
            alt="Белаз"
            width="350"
            height="226"
          />
          <h3 class="article__subtitle">
            Почему Белазы являются популярным выбором в горнодобывающей и строительной отраслях
          </h3>
        </a>
        <span class="article__num">04</span>
      </div>
    </div>
  </div>
</section>
