<section class="certificates">
  <div class="container">
    <div class="certificates__inner">
      <div class="certificates__content">
        <h2 class="certificates__title">Сертификаты соответствия</h2>
        <p class="certificates__text">
          На услуги по ремонту узлов и агрегатов к карьерным автосамосвалам действует сертификат
          соответствия на автомобильном транспорте <br /><span>№ РОСС RU.И1112.У00075</span>
        </p>
        <ul class="certificates__list">
          <li class="certificates__items">Lorem, ipsum.</li>
          <li class="certificates__items">Lorem ipsum dolor sit amet.</li>
          <li class="certificates__items">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi, possimus?
          </li>
        </ul>
      </div>
      <div class="certificates__item">
        <div class="certificates__img-box">
          <img class="certificates__img" src="../images/content/sertificat.webp" alt="Сертификат" />
        </div>
        <div class="certificates__img-box2">
          <img
            class="certificates__img"
            src="../images/content/sertificat2.webp"
            alt="Сертификат"
          />
        </div>
      </div>
    </div>
  </div>
</section>
