<section class="first-screen">
  <div class="container">
    <h1 class="content__title">Ремонт узлов и агрегатов карьерных автосамосвалов</h1>
    <div class="benefits">
      <p class="benefits__item">Сами добываем и продаём нерудные материалы</p>
      <p class="benefits__item">Точные весы для любых прицепов</p>
      <p class="benefits__item">Самовывоз из удобного перевалочного пункта</p>
      <p class="benefits__item">Самовывоз из удобного перевалочного пункта</p>
    </div>
  </div>
</section>
