<section class="form-top">
  <div class="container">
    <div class="form-top__inner">
      <h2 class="form-top__title">Купить Белаз или заказать ремонт</h2>
      <p class="form-top__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati fugiat et consequatur
        sapiente rerum molestiae corporis, maxime officia magnam facere odit.
      </p>
      <form action="#" class="form-top__form form">
        <div class="form__box">
          <input type="text" class="form__input" placeholder="Ваше имя" />
          <input type="text" class="form__input" placeholder="Ваш телефон" />
          <button type="submit" class="form__btn">заказать</button>
        </div>
        <p class="form__text">
          Отправляя форму, я соглашаюсь на условия обработки моих персональных данных
        </p>
        <p class="form__text">Наш менеджер перезвонит вам через 10 минут</p>
      </form>
    </div>
  </div>
</section>
