<section class="form-bottom">
  <div class="container">
    <div class="form-bottom__inner">
      <h2 class="form-bottom__title">Сделайте заявку</h2>
      <p class="form-bottom__text">Наш менеджер перезвонит вам через 10 минут</p>
      <form action="#" class="form-bottom__form form">
        <div class="form__box">
          <input type="text" class="form__input" placeholder="Ваше имя" />
          <input type="text" class="form__input" placeholder="Ваш телефон" />
          <button type="submit" class="form__btn">заказать</button>
        </div>
        <p class="form__text">
          Отправляя форму, я соглашаюсь на условия обработки моих персональных данных
        </p>
      </form>
    </div>
  </div>
</section>
