<section class="gallery">
  <div class="container">
    <h2 class="gallery__title">Рабочие моменты</h2>
    <p class="gallery__text">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum illum dolore repellendus
      aspernatur, soluta porro voluptate aperiam quam, ad, autem dolorem. Nulla nemo illo
      perspiciatis laboriosam, minus natus cum quaerat?
    </p>
    <div class="gallery__inner">
      <div class="gallery__item1">
        <img class="gallery__img" src="../images/content/work1.webp" alt="Ремонт самосвалов" />
      </div>
      <div class="gallery__item2">
        <img class="gallery__img" src="../images/content/work4.webp" alt="Ремонт самосвалов" />
      </div>
      <div class="gallery__item3">
        <img class="gallery__img" src="../images/content/work1.webp" alt="Ремонт самосвалов" />
      </div>
      <div class="gallery__item4">
        <img class="gallery__img" src="../images/content/work4.webp" alt="Ремонт самосвалов" />
      </div>
      <div class="gallery__item5">
        <img class="gallery__img" src="../images/content/work1.webp" alt="Ремонт самосвалов" />
      </div>
      <div class="gallery__item6">
        <img class="gallery__img" src="../images/content/work4.webp" alt="Ремонт самосвалов" />
      </div>
      <div class="gallery__item7">
        <img class="gallery__img" src="../images/content/work1.webp" alt="Ремонт самосвалов" />
      </div>
      <div class="gallery__item8">
        <img class="gallery__img" src="../images/content/work4.webp" alt="Ремонт самосвалов" />
      </div>
      <div class="gallery__item9">
        <img class="gallery__img" src="../images/content/work1.webp" alt="Ремонт самосвалов" />
      </div>
    </div>
  </div>
</section>
