<div class="modal">
  <div class="modal__order">
    <button class="modal__btn-close">
      <svg
        width="18"
        height="17"
        viewBox="0 0 18 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect x="1.41406" width="22" height="2" transform="rotate(45 1.41406 0)" fill="white" />
        <rect
          x="0.414062"
          y="15.5562"
          width="22"
          height="2"
          transform="rotate(-45 0.414062 15.5562)"
          fill="white"
        />
      </svg>
    </button>
    <div class="modal__title">Заказать ремонт</div>
    <p class="modal__slogan">Мы готовы предоставить вам качественный уровень сервиса</p>
    <form class="modal__form" action="#" method="post">
      <label class="modal__label">
        <input class="modal__input" type="text" placeholder="+7" value="" name="phone" required />
        <span class="modal__error" style="display: none">пожалуйста укажите корреткно</span>
      </label>
      <label class="modal__label">
        <input class="modal__input" type="text" placeholder="Фио" value="" name="name" required />
        <span class="modal__error" style="display: none">пожалуйста укажите корреткно</span>
      </label>
      <button class="modal__btn" type="submit">Оставить заявку</button>
      <span class="modal__text"
        >Отправляя форму, я соглашаюсь на условия обработки моих персональных данных
      </span>
    </form>
  </div>
</div>
