<services class="product">
  <div class="container">
    <div class="product__top">
      <h2 class="product__top-title">Продажа Белазов</h2>
      <p class="product__slogan">
        Помимо ремлнта, мы осуществляем продажу карьерных самосвалов Белаз по всех России. Помимо
        ремлнта, мы осуществляем продажу карьерных самосвалов Белаз по всех России.
      </p>
    </div>
    <div class="product__inner">
      <div class="product__item">
        <div class="product__box-img">
          <a class="product__link" href="#">
            <img
              class="product__img"
              src="../images/content/product/1.webp"
              alt="Карьерные самосвалы серии 7571"
            />
          </a>
        </div>
        <div class="product__box">
          <a class="product__link" href="#">
            <h3 class="product__title">Карьерные самосвалы серии 7571</h3>
          </a>

          <dl class="product__list">
            <div class="product__list-box">
              <dt class="product__list-title">Мощность двигателя, кВт (л.с.)</dt>
              <dd class="product__list-desc">2 х 1715 (2300)</dd>
            </div>
            <div class="product__list-box">
              <dt class="product__list-title">Эксплуатационная масса, кг</dt>
              <dd class="product__list-desc">390 500</dd>
            </div>
            <div class="product__list-box">
              <dt class="product__list-title">Объем кузова, м3</dt>
              <dd class="product__list-desc">164,9 (268,3)</dd>
            </div>
            <div class="product__list-box">
              <dt class="product__list-title">Грузоподьемность, т</dt>
              <dd class="product__list-desc">450</dd>
            </div>
            <div class="product__list-box">
              <dt class="product__list-title">Колесная формула</dt>
              <dd class="product__list-desc">4 х 4</dd>
            </div>
          </dl>
          <div class="product__bottom">
            <button class="product__btn">
              <span>Купить</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="23"
                height="22"
                viewBox="0 0 23 22"
                fill="none"
              >
                <path
                  d="M6.25 16.5L16.75 6M16.75 6H6.25M16.75 6V16.5"
                  stroke="white"
                  stroke-width="2"
                />
              </svg>
            </button>
            <div class="product__price">50 000 000 ₽</div>
          </div>
        </div>
      </div>
      <div class="product__item">
        <div class="product__box-img">
          <a class="product__link" href="#">
            <img
              class="product__img"
              src="../images/content/product/1.webp"
              alt="Карьерные самосвалы серии 7571"
            />
          </a>
        </div>
        <div class="product__box">
          <a class="product__link" href="#">
            <h3 class="product__title">Карьерные самосвалы серии 7571</h3>
          </a>

          <dl class="product__list">
            <div class="product__list-box">
              <dt class="product__list-title">Мощность двигателя, кВт (л.с.)</dt>
              <dd class="product__list-desc">2 х 1715 (2300)</dd>
            </div>
            <div class="product__list-box">
              <dt class="product__list-title">Эксплуатационная масса, кг</dt>
              <dd class="product__list-desc">390 500</dd>
            </div>
            <div class="product__list-box">
              <dt class="product__list-title">Объем кузова, м3</dt>
              <dd class="product__list-desc">164,9 (268,3)</dd>
            </div>
            <div class="product__list-box">
              <dt class="product__list-title">Грузоподьемность, т</dt>
              <dd class="product__list-desc">450</dd>
            </div>
            <div class="product__list-box">
              <dt class="product__list-title">Колесная формула</dt>
              <dd class="product__list-desc">4 х 4</dd>
            </div>
          </dl>
          <div class="product__bottom">
            <button class="product__btn">
              <span>Купить</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="23"
                height="22"
                viewBox="0 0 23 22"
                fill="none"
              >
                <path
                  d="M6.25 16.5L16.75 6M16.75 6H6.25M16.75 6V16.5"
                  stroke="white"
                  stroke-width="2"
                />
              </svg>
            </button>
            <div class="product__price">50 000 000 ₽</div>
          </div>
        </div>
      </div>
      <div class="product__item">
        <div class="product__box-img">
          <a class="product__link" href="#">
            <img
              class="product__img"
              src="../images/content/product/1.webp"
              alt="Карьерные самосвалы серии 7571"
            />
          </a>
        </div>
        <div class="product__box">
          <a class="product__link" href="#">
            <h3 class="product__title">Карьерные самосвалы серии 7571</h3>
          </a>

          <dl class="product__list">
            <div class="product__list-box">
              <dt class="product__list-title">Мощность двигателя, кВт (л.с.)</dt>
              <dd class="product__list-desc">2 х 1715 (2300)</dd>
            </div>
            <div class="product__list-box">
              <dt class="product__list-title">Эксплуатационная масса, кг</dt>
              <dd class="product__list-desc">390 500</dd>
            </div>
            <div class="product__list-box">
              <dt class="product__list-title">Объем кузова, м3</dt>
              <dd class="product__list-desc">164,9 (268,3)</dd>
            </div>
            <div class="product__list-box">
              <dt class="product__list-title">Грузоподьемность, т</dt>
              <dd class="product__list-desc">450</dd>
            </div>
            <div class="product__list-box">
              <dt class="product__list-title">Колесная формула</dt>
              <dd class="product__list-desc">4 х 4</dd>
            </div>
          </dl>
          <div class="product__bottom">
            <button class="product__btn">
              <span>Купить</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="23"
                height="22"
                viewBox="0 0 23 22"
                fill="none"
              >
                <path
                  d="M6.25 16.5L16.75 6M16.75 6H6.25M16.75 6V16.5"
                  stroke="white"
                  stroke-width="2"
                />
              </svg>
            </button>
            <div class="product__price">50 000 000 ₽</div>
          </div>
        </div>
      </div>
      <div class="product__item">
        <div class="product__box-img">
          <a class="product__link" href="#">
            <img
              class="product__img"
              src="../images/content/product/1.webp"
              alt="Карьерные самосвалы серии 7571"
            />
          </a>
        </div>
        <div class="product__box">
          <a class="product__link" href="#">
            <h3 class="product__title">Карьерные самосвалы серии 7571</h3>
          </a>

          <dl class="product__list">
            <div class="product__list-box">
              <dt class="product__list-title">Мощность двигателя, кВт (л.с.)</dt>
              <dd class="product__list-desc">2 х 1715 (2300)</dd>
            </div>
            <div class="product__list-box">
              <dt class="product__list-title">Эксплуатационная масса, кг</dt>
              <dd class="product__list-desc">390 500</dd>
            </div>
            <div class="product__list-box">
              <dt class="product__list-title">Объем кузова, м3</dt>
              <dd class="product__list-desc">164,9 (268,3)</dd>
            </div>
            <div class="product__list-box">
              <dt class="product__list-title">Грузоподьемность, т</dt>
              <dd class="product__list-desc">450</dd>
            </div>
            <div class="product__list-box">
              <dt class="product__list-title">Колесная формула</dt>
              <dd class="product__list-desc">4 х 4</dd>
            </div>
          </dl>
          <div class="product__bottom">
            <button class="product__btn">
              <span>Купить</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="23"
                height="22"
                viewBox="0 0 23 22"
                fill="none"
              >
                <path
                  d="M6.25 16.5L16.75 6M16.75 6H6.25M16.75 6V16.5"
                  stroke="white"
                  stroke-width="2"
                />
              </svg>
            </button>
            <div class="product__price">50 000 000 ₽</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</services>
