<section class="services">
  <div class="container">
    <div class="services__inner">
      <div class="services__left">
        <div class="services__row">
          <h2 class="services__title title">Услуги</h2>
          <p class="services__text">
            ООО «ДАН-Авто» имеет возможность производить ремонт узлов и агрегатов карьерных
            автосамосвалов на собственной ремонтной базе на следующих условиях: Ремонт производится
            на ремонтной базе: Смоленская область, Руднянский район, п.Голынки, ул.Витебская д.1
            высококвалифицированными специалистами. Стоимость ремонта определяется после разборки,
            дефектовки узлов и агрегатов и составления дефектной ведомости. Цена работ, запчастей и
            материалов, необходимых для выполнения ремонта узлов и агрегатов определяется в
            согласованной сторонами калькуляции. Ориентировачный срок выполнения ремонтных работ в
            течение одного месяца с момента согласования сторонами дефектной ведомости и калькуляции
            ремонтных работ и материалов. Оплата производится в течение 20 дней с момента передачи
            результатов работ заказчику на основании счета исполнителя и подписанного сторонами акта
            приема-передачи.
          </p>
        </div>
        <div class="services__row">
          <h3 class="services__subtitle">нашли цену делевле?</h3>
          <p class="services__desrc">
            Сделаем цену ниже любого перекупа завода с сохранением марки и объёма
          </p>
          <button class="services__order-btn">
            напишите нам
            <svg
              width="22"
              height="22"
              viewBox="0 0 22 22"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M6 16.5L16.5 6M16.5 6H6M16.5 6V16.5" stroke="white" stroke-width="2" />
            </svg>
          </button>
        </div>
      </div>
      <div class="services__right">
        <div class="services__item">
          <div class="services__box">
            <h3 class="services__subtitle">Капитальный ремонт карьерных автосамосвалов</h3>
            <p class="services__item-text">
              Мы производим капитальный ремонт карьерных автосамосвалов. Узнать конечную цену можно
              по телефону.
            </p>
          </div>
          <div class="services__price-box">
            <span class="services__price">от 33600 ₽</span>
            <button class="services__btn">узнать цену</button>
          </div>
        </div>

        <div class="services__item">
          <div class="services__box">
            <h3 class="services__subtitle">
              Ремонт гидромеханической передачи (ГМП) карьерного автосамосвала
            </h3>
            <p class="services__item-text">
              Мы производим ремонт гидромеханической передачи (ГМП) карьерного автосамосвала. Узнать
              конечную цену можно по телефону.
            </p>
          </div>
          <div class="services__price-box">
            <span class="services__price">от 33600 ₽</span>
            <button class="services__btn">узнать цену</button>
          </div>
        </div>

        <div class="services__item">
          <div class="services__box">
            <h3 class="services__subtitle">Ремонт главной передачи карьерного автосамосвала</h3>
            <p class="services__item-text">
              Мы производим ремонт главной передачи карьерного автосамосвала. Узнать конечную цену
              можно по телефону.
            </p>
          </div>
          <div class="services__price-box">
            <span class="services__price">от 33600 ₽</span>
            <button class="services__btn">узнать цену</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
